body {
    background-color: lightblue;
    font-family: "Open Sans", sans-serif;
}
h1 {
    font-family: Ubuntu, sans-serif;
}
h1, footer {
    text-align: center;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.caja-de-texto {
    padding: 10px;
}
button {
    background-color: teal;
    border: 2px teal solid;
    border-radius: 7px;
    padding: 7px;
    color: white;
}
textarea {
    resize: none;
}
#resultado {
    background-color: azure;
    border: 1px gray solid;
    padding: 5px;
    margin-bottom: 5px;
}
textarea, #resultado {
    width: 400px;
    height: 250px;
}
@media (max-width: 400px) {
    textarea, #resultado {
        width: 300px;
        height: 200px;
    }
}